#myAudio {
  display: none;
}
h2 {
  position: absolute;
  top: 90%;
  left: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  color: white;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  justify-content: center;
  gap: 30px;
  font-size: 43px;
}
label {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 112);
}
input {
  border-radius: 20px;
  width: 100%;
  max-width: 350px;
  margin-left: 5px;
  margin-right: 5px;
  min-height: 40px;
  border: 2px solid rgb(0, 0, 112);
  padding-left: 30px;
  font-size: 30px;
  color: rgb(0, 0, 112);
  outline: none;
}
form button {
  max-width: 170px;
  width: 100%;
  cursor: pointer;
  min-height: 60px;
  border-radius: 50px;
  background-color: rgb(0, 0, 56);
  font-size: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.6s ease;
}
form button:hover {
  background-color: rgb(0, 0, 112);
}
